.add-product-container {
    .addproduct-form {
        max-width: 1000px;
        margin: 0 auto;
        .validation-errors {
        }
        .inputs-container {
            display: flex;
            width: 100%;
            // flex-wrap: wrap;

            // grid-template-columns: .7fr 1fr;
            // grid-auto-rows: auto;
            // column-gap: 1rem;
            .form-div-column {
                width: 100%;
            }
            .input-select-group {
                display: flex;
                width: 100%;
            }
            .long-description {
                resize: none;
                width: 100%;
            }
            .input-group {
                margin-top: 1rem;
                width: 100%;
                .form-input,
                .file-input {
                    background-color: var(--color-white);
                    border: 2px solid var(--color-theme-muted);
                    padding: .75rem;
                    border-radius: .75rem;
                    margin-bottom: .5rem;
                    font-size: medium;
                }
                .select-input {
                    padding: .75rem;
                    border-radius: .75rem;
                    border: 2px solid var(--color-theme-muted);
                    font-size: medium;
                    color: var(--color-text);
                    width: 100%;
                }
                label {
                    background-color: transparent;
                }
            }
        }
    }
}