.employees {
    .container {
        .spinner {
        }

        .filter-section {
            background-color: var(--color-white);
            padding: 17px;
            margin-bottom: 12px;


            .dropdown {
                width: 30%;
            }
        }

        .table-section {
            .table {
                

            }
        }
    }
}
