.content-container {
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px -5px var(--color-text);
    max-width: 1500px;
    margin: 0 auto;
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr .4fr .2fr .2fr;
        padding: .5rem 1rem;
        border-bottom: solid 1px var(--color-theme-muted);
        align-items: center;
        font-size: large;
        .product-btn {
            font-size: large;
            padding: .75rem;
            height: fit-content;
            width: fit-content;
            border-radius: .5rem;
            border: none;
            margin: auto .5rem;
            &.info {
                &:hover {
                    background-color: var(--color-theme-muted);
                    background-color: rgb(238, 242, 165);
                    cursor: pointer;
                    box-shadow: 0 0 10px var(--color-secondary-text);
                }
            }
            &.danger {
                &:hover {
                    background-color: var(--color-danger-bg);
                    cursor: pointer;
                    box-shadow: 0 0 10px var(--color-secondary-text);
                }
            }
        }
    }
    .title-row {
        font-size: larger;
        padding: 1rem;
        color: var(--color-text);
    }
}