.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;

    .container {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;


        .title-section {
            margin-bottom: 35px;

            h1 {
                color: var(--color-text);
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }

            p {
                color: var(--color-secondary-text);
            }
        }

        .form-section {
            display: flex;
            flex-direction: column;

            .input-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;

                label {
                    text-align: left;
                    color: var(--color-text);
                }
            }

            .dropdown {
                margin-bottom: 20px;
            }


            .group-input {
                display: flex;
                justify-content: space-between;
            }


      




            .btn-submit {
                margin-top: 10px;

                .btn-theme {
                    width: 100%;
                    border-radius: 25px;
                    padding: 10px 0;
                }
            }
        }
    }
}



