@page "/product"

<PageTitle>Products</PageTitle>

<div class="content-container">
    <div class="title-row row">
        <p>Title</p>
        <p>Author</p>
        <p>Published</p>
        <p>Language</p>
    </div>
    @if (products == null)
    {
        <p>Loading...</p>
    }
    else if (!products.Any())
    {
        <p>No products available.</p>
    }
    else
    {
        @foreach (var product in products)
        {
            <div class="product-row row">
                <p><i class="fa-regular fa-book"></i> - @product.Title</p>
                <p>@product.Author</p>
                <p>@product.PublishDate</p>
                <p>@product.Language</p>
                <button class="product-btn info"><i class="fa-regular fa-pen"></i></button>
                <button class="product-btn danger"><i class="fa-regular fa-trash"></i></button>
            </div>
        }
    }
</div>

@code {

    List<ProductModel> products = new();
    [Inject]
    ProductService productService {get; set;}

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProducts();
    }


}
