<div class="header-menu top-row">
    <div class="image-box">
        <img class="profile-picture" src="/images/default-profile.jpg" alt="">
    </div>
    <div class="profile-info">
        <p>Sherlock Holmes</p>
        <p class="profile-email">Sherlock@secret.com</p>
    </div>
</div>

@code {

}
