form {

    .input-group {
        position: relative;

        input {
            overflow: hidden;
            width: 100%;
            padding: 15px 21px;
            border-radius: 25px;
            border: 2px solid lightgray;
            margin-bottom: 1rem;
            color: var(--color-text);
            background: transparent;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px #F1F3F4 inset !important;
            }

            &:focus {
                outline: none;
            }
        }



        label {
            position: absolute;
            top: -6px;
            left: 16px;
            background-color: #F1F3F4;
            padding: 0 5px;
            font-size: 0.6rem;
            text-transform: uppercase;
        }
    }
}
